html, body{
  background-color: #ffeaa7;
}

h1{
  border: 3px solid red;
  background-color: #ffd11a;
}

#cartoons_questions {
  display: none;
}
#games_questions {
  display: none;
}

.text{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #341f97;
}



.button{
  display: flex;
  justify-content: center;
}

button{
  display: block;
  margin: 20px;
  border: none;
  padding: 10px 15px;
}

